/* Write your CSS here */
.vc-cont {
  width: 100%;
  background-color: #1c1c2b;
  padding: 10px;
  margin-bottom: 10px;
}

.vc-head {
  font-family: 'roboto';
  color: #cbd5e1;
  margin-left: 30px;
}
